<div class="container">
    <div id="sidebar">
        <header>
            <img  class="img" src="./assets/logo/logo.png"  alt="logo de la empresa">
            <h1 [ngClass]="{titulo:'titulo'}">Armu T-Shirt</h1>
        </header>

        <ul class="nav  flex-column">
             <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">
                    <i class="bi bi-cart-check-fill me-5"></i>
                    Productos
                </a>
            </li>
            
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">
                    <i class="bi bi-people-fill me-5"></i>
                    Clientes
                </a>
            </li>
           
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">
                    <i class="bi bi-clipboard-data-fill me-5"></i>
                    Ordenes
                </a>
            </li>
        </ul>
    </div>